.sticker {
    height: 200px;
    display: flex;
    width: 200px; 
}

#left-sticker{
    background-color: blue;
    margin-right: 20px;
    --direction: 1;
}

#right-sticker{
    background-color: red;
    --direction: -1;
}

#main{
    width: 420px;
    display: flex;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-top: 100px;
}

.animation {
    --distance: 20px;
    animation: slide 0.65s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes slide{
    from {
        transform: translateX(calc(var(--distance) * var(--direction)))
        scale(calc(1 + var(--order)*0.1));
        z-index:var(--order)
    }
    50% {
        transform: translateX(calc(var(--distance) * -1 * var(--direction))) 
        scale(1)
    }
    to {
        transform: translateX(calc(var(--distance) * var(--direction)))
        scale(calc(1 - var(--order)*0.1));
        z-index:calc(var(--order) * -1)
    }
}

