/* 
czcionka: arial
kolor obramowania odnośnika #819791; 
szerokość strony: 460px
odstęp między zdjęciami w galerii: 10px;
nagłówek (About Layer 51): #cbd6df, brak pogrubienia
tekst podstawowy: 13px, wysokość wiersz 32px, wyrównanie: justify
kolor obramowania odnośnika: #819791
stopka: 11px, #444
*/
body {
    background-image: url("layer51/tlo.png");
    height: 100vh;
    width: 100vw;
    font-family: Arial;
    font-size: 13px;
    
}

#wrapper {
    width: 460px;
    align-self: auto;
}

#wrapper > * {
    width: 100%;
}

#container{
    padding-top: 10px;
    padding-left: 10px; 
    width: 440px;
    background: rgb(255,255,255);
    height: 440px;
}

.image {
    height: 100px;
    width: 100px;
    display: flex;
    float: left;
    margin-right: 10px; 
    margin-bottom: 10px;
}

#aboutus {
    color: white;
    text-align: justify;
}

#aboutus > h1{
    font: arial;
    text-decoration: none;
    color: #cbd6df;
}

.dotted-underline {
    border-bottom: 1px dotted white;
}
