body {
    padding: 0;
    margin: 0;
}

wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1000px 400px 200px;
    grid-template-areas: 
    "head"
    "content"
    "footer"
}

.head{
    grid-area: head;
    background-color: blue;
    display: grid;
    grid-template-rows: 160px 400px;
}

.content{
    grid-area: content;
    height: 300px;
    width: 90%;
    justify-self: center;
    align-self: center;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    grid-area: footer;
    background-color: green;
}

.menu {
    grid-row: 1;
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 50%;
    background-color: aqua
}

.main{
    grid-row: 2;
    background-color: yellow;
}

.navbar ul {
    float: right;
    display: block;
    list-style: none;
}

.navbar li {
    float: left;
    position: relative;
    padding: .4em .4em;
    text-decoration: none;
}

.third {
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
}

